<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="reg-card rounded shadow p-5 m-5">
        <%= simple_form_for @list do |f| %>
          <%= f.input :name, placeholder: 'Classic' %>
          <%= f.input :photo,
            as: :file,
            label: ("List Photo"),
            input_html: { autocomplete: "photo"} %>
          <%= f.submit class: 'button' %>
        <% end %>
      </div>
      <%= link_to "Back", root_path, class: 'button' %>
    </div>
  </div>
</div>
