<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div>
        <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.association :movie, collection: Movie.all.order(:title), prompt: 'Select a movie' %>
        <%= f.input :comment, placeholder: 'Enter a comment about the movie' %>
        <%= f.submit 'Add movie' %>
        <% end %>
      </div>
      <%= link_to "Back", list_path(@list) %>
    </div>
  </div>
</div>
