<div class="home-page">
  <div class="untitled">
    <div class="untitled__slides">
      <div class="untitled__slide">
        <div class="untitled__slideBg"></div>
        <div class="untitled__slideContent">
          <span>Fight</span>
          <span>Club</span>
          <p>Save any kind of movies</p>
          <%= link_to "Add a new movmylistie list", new_list_path, class: 'button h-button-margin' %>
          <%= link_to "My Lists", lists_path, class: 'button h-button-margin' %>
        </div>
      </div>
      <div class="untitled__slide">
        <div class="untitled__slideBg"></div>
        <div class="untitled__slideContent">
          <span>La La</span>
          <span>Land</span>
          <p>Save any kind of movies</p>
          <%= link_to "Add a new movie list", new_list_path, class: 'button h-button-margin' %>
          <%= link_to "My Lists", lists_path, class: 'button h-button-margin' %>
        </div>
      </div>
      <div class="untitled__slide">
        <div class="untitled__slideBg"></div>
        <div class="untitled__slideContent">
          <span>Jojo</span>
          <span>Rabbits</span>
          <p>Save any kind of movies</p>
          <%= link_to "Add a new movie list", new_list_path, class: 'button h-button-margin' %>
          <%= link_to "My Lists", lists_path, class: 'button h-button-margin' %>

        </div>
      </div>
      <div class="untitled__slide">
        <div class="untitled__slideBg"></div>
        <div class="untitled__slideContent">
          <span>Before</span>
          <span>Sunrise</span>
          <p>Save any kind of movies</p>
          <%= link_to "Add a new movie list", new_list_path, class: 'button h-button-margin' %>
          <%= link_to "My Lists", lists_path, class: 'button h-button-margin' %>

        </div>
      </div>
      <div class="untitled__slide">
        <div class="untitled__slideBg"></div>
        <div class="untitled__slideContent">
          <span>Spirited</span>
          <span>Away</span>
          <p>Save any kind of movies</p>
          <%= link_to "Add a new movie list", new_list_path, class: 'button h-button-margin' %>
          <%= link_to "My Lists", lists_path, class: 'button h-button-margin' %>

        </div>
      </div>
      <div class="untitled__slide">
        <div class="untitled__slideBg"></div>
        <div class="untitled__slideContent">
          <span>Call me by</span>
          <span>your name</span>
          <p>Save any kind of movies</p>
          <%= link_to "Add a new movie list", new_list_path, class: 'button h-button-margin' %>
          <%= link_to "My Lists", lists_path, class: 'button h-button-margin' %>
        </div>
      </div>
    </div>
    <div class="untitled__shutters"></div>
  </div>
</div>

